<h1>Editing question paper</h1>

<%= render "form", question_paper: @question_paper %>

<br>

<div>
  <%= link_to "Show this question paper", @question_paper %> |
  <%= link_to "Back to question papers", question_papers_path %>
</div>
