<h1>New question paper</h1>
<p><strong>selected- subject:</strong>
<%= params[:subject]%></p>

<%= render "form", question_paper: @question_paper,subject: params[:subject],questions: @questions %>

<br>

<div>
  <%= link_to "Back to question papers", question_papers_path %>
</div>
