<h1>Editing choose subject</h1>

<%= render "form", choose_subject: @choose_subject %>

<br>

<div>
  <%= link_to "Show this choose subject", @choose_subject %> |
  <%= link_to "Back to choose subjects", choose_subjects_path %>
</div>
